<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand"><img src="../../../assets/notes.jpg" alt="notes" class="img-thumbnail" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link font-weight-bold text-white" style="cursor: pointer;" routerLink="/notes">All Notes</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link font-weight-bold " style="cursor: pointer;" (click)="lgout()"><img src="../../assets//logout.png" width="30px" class="img-rounded" alt=""></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-sm-3">
        <div class="sidenav">
          <div class="d-flex sidebaritem justify-content-center py-2" *ngFor="let class of classes; let i = index" (click)="curentStudent(i+1)">
            <p style="font-weight: 600; font-size: 14px;">{{class}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <h4 *ngIf="editdata" class="text-center text-danger pt-3">You can edit student notes</h4>
        <h4 class="text-center text-danger pt-3" *ngIf="loading">Data Loading.....!</h4>
        <h4 class="text-center text-danger pt-3" *ngIf="classList.length == 0 && !loading">No data found.....!</h4>
        <div class="p-4">
          <table class="table taable-sm table-bordered tableStyle" *ngIf="classList.length > 0">
            <thead>
              <tr class="text-center">
                <th>S.no</th>
                <th>Notes Content</th>
                <th>Time</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let class of classList; let i = index">
                <td>{{i+1}}</td>
                <td  *ngIf="class.notescontent.length > 150; else normal">{{class.notescontent | slice:0:150}}...</td>
                <ng-template #normal>
                  <td style="width: 64vw;">{{class.notescontent}}</td>
                </ng-template>
                
                <td>{{class.time | date}}  {{class.time | date:'h:mm a'}}</td>
                <td><button class="btn btn-danger btn-sm rounded-0" (click)="editNotes(class._id,class.notescontent)">Edit</button></td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="updatemodel" *ngIf="showModel">
    <div class="card cstyle p-3">
      <form>
        <div class="form-group">
          <div>
            <label for="notesdata">Update your notes :</label>
            <label style="float: right; cursor: pointer; color: red;" (click)="closeModel()">Close</label>
          </div>
          <textarea class="form-control" rows="5" id="notesdata"  style="resize: none;" [(ngModel)]="contentnotes" name="cotent"></textarea>
        </div>
        <button class="btn btn-danger btn-sm rounded-0" (click)="updateNotes()">Update</button>
      </form>
    </div>
  </div>