<div class="container-fluid imgbg">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="cardstyle">
                <div class="card p-4 cardstyle1">
                    <h4 class="text-danger">Login to your Account</h4>
                    <form class="py-3" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="name">Enter Username</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Enter username" id="name" formControlName="username">
                            <span class="validate" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please Enter username</span>
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control form-control-sm" placeholder="Enter password" id="pwd" formControlName="password">
                            <span class="validate" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please Enter Password</span>
                          </div>
                          <div>
                              <a routerLink="/register"><p class="register">Register Here?</p></a>
                          </div>
                          <button class="btn btn-sm btn-danger btn-block rounded-0" [disabled]="!loginForm.valid">Login</button>               
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>