.imgbg{
    background: url(../../assets/loginbg.jpg) no-repeat;
    height: 100vh;
}
.cardstyle{
    position: relative;
    top: 2.8%;
}
label{
    font-size: 14px;
    font-weight: 400;
}
.register{
    color: green;
    font-size: 14px;
    font-weight: 500;
}
.cardstyle1{
    background-color: #f1f1f1;
}
a{
    text-decoration: none;
}
